<div class="Footer">
  <div class ="espace"> </div>
  <div class="Contactform"><h3>Find me here</h3></div>
  <div class="socials">
    <div class="icone">
      <a href="https://www.youtube.com/channel/UCMVDLO_ZwXU5ZshIUeYPVpA">
        <img src="/yt.png" alt="icone_youtube" />
      </a>
    </div>
    <div class="icone">
      <a href="https://www.linkedin.com/in/arman-prangere-%F0%9F%8C%92-1224791a6">
        <img src="/linkedin.png" alt="icone_linkedin">
      </a>
    </div>
    <div class="icone">
      <a href="">
        <img src="/insta.png" alt="icone_insta">
      </a>
    </div>
    <div class="icone">
      <a href="">
        <img src="/mail.png" alt="icone_mail">
      </a>
    </div>
    <div class="icone">
      <a href="">
        <img src="/pinterest.png" alt="pinterest">
      </a>
    </div>
  </div>
  <div class="legal"> Copyright © 2024 Arman Prangere </div>
</div>