
<div class="Header">
    <div class="Homebutton"><a href="/">Arman Prangere</a></div>
    <div class="Navigation">
        <a href="/philo">Philo</a>
        <a href="/musique">Musique</a>
    </div>
</div>